* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

header {
  background-color: black;
  color: white;
  width: 100vw;
  max-width: 100%;
  padding: 10px;
}

header a {
  color: white;
}

header a:hover {
  color: gray;
}

main {
  width: 100vw;
  max-width: 100%;
}

h2 {
  margin-bottom: 10px;
}

aside {
  background-color: gray;
  padding: 10px;
}

section {
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

nav ul li {
  list-style: none;
}

/* Class que té el contenidor del mapa. Li donem una alçada perquè es vegi el mapa, sinó no es veuria res. */
.leaflet-container {
    width: 100%;
    height: 80vh;
}
